input[type=range] {
  -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
  width: 100%; /* Specific width is required for Firefox. */
  background: transparent; /* Otherwise white in Chrome and blocky in IE*/
  margin: 5px 0;
}
input[type=range]:focus {
  outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}
input[type=range]::-webkit-slider-runnable-track {
    background: rgba(100, 100, 100, 0.2);
    border: 1px solid #000000;
    border-radius: 3px;
    width: 100%;
    height: 5px;
    cursor: pointer;
}
input[type=range]::-webkit-slider-thumb {
    margin-top: -6px;
    width: 15px;
    height: 15px;
    background: #969696;
    border: 1px solid #000000;
    border-radius: 15px;
    cursor: pointer;
    -webkit-appearance: none;
}
input[type=range]:focus::-webkit-slider-runnable-track {
    background: #7e7e7e;
}
input[type=range]::-moz-range-track {
    background: rgba(100, 100, 100, 0.2);
    border: 1px solid #000;
    border-radius: 3px;
    width: 100%;
    height: 5px;
    cursor: pointer;
}
input[type=range]::-moz-range-thumb {
    width: 15px;
    height: 15px;
    background: #969696;
    border: 1px solid #000;
    border-radius: 15px;
    cursor: pointer;
}
input[type=range]::-ms-track {
    /*remove bg colour from the track, we'll use ms-fill-lower and ms-fill-upper instead */
    background: transparent;
    /*leave room for the larger thumb to overflow with a transparent border */
    border: 10px;
    border-color: transparent;
    color: transparent;
    width: 100%;
    height: 5px;
    cursor: pointer;
}
input[type=range]::-ms-fill-lower {
    background:transparent;
    border: 10px solid #000;
}
input[type=range]::-ms-fill-upper {
    background:transparent;
    border: 10px solid #7e7e7e;
}
input[type=range]::-ms-thumb {
    width: 15px;
    height: 15px;
    background: #969696;
    border: 1px solid #000;
    border-radius: 15px;
    cursor: pointer;
    margin-top: 0px;
    /*Needed to keep the Edge thumb centred*/
}
input[type=range]:focus::-ms-fill-lower {
    background: rgba(100, 100, 100, 0.2);
}
input[type=range]:focus::-ms-fill-upper {
    background: #7e7e7e;
}
input[type=range]::-ms-tooltip{display: none;} /* Disable the range tooltip display in IE */
@supports (-ms-ime-align:auto) {
    /* Pre-Chromium Edge only styles, selector taken from hhttps://stackoverflow.com/a/32202953/7077589 */
    input[type=range] {
      margin: 0;
      /*Edge starts the margin from the thumb, not the track as other browsers do*/
    }
}