html {
    scroll-behavior:smooth;
    background-color:#000;
    font-family:'Domine',serif;
}

body,html {
    margin:0;
    padding:0;
    color:#fff;
    background-color:#000;
}

footer {
    display:block;
    text-align:center;
    margin-left:auto;
    margin-right:auto;
    padding:20px 10px 20px 10px;
    color:#fff;
    font-family:'Domine',serif;
}

abbr {
    border-bottom: none !important;
    cursor: inherit !important;
    text-decoration: none !important;
    color: cyan;
}

.content {
    background-color:#202020;
    color:#fff;
    width:840px;
    padding:0;
    margin:20px auto 20px auto;
    border-radius:20px;
}

@media only screen and (max-width:900px) {
    .content {
        width:95%;
    }
}

.player-container {
    margin:0;
    border-color: rgb(250, 159, 84);
    border-width: 3px;
    border-style: solid;
    border-radius: 20px;
    padding: 15px;
    background-color: #fff;
}

.player-container {
    flex: auto;
    flex-direction: column;
    color:#000;
}

.photo-left {
    float: left;
    margin-right: 30px;
}

.player-description {
    display: contents;
}

.episode-title {
    text-align: center;
    font-size: xx-large;
    padding-top: 0;
    margin-top: 0;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
	}
.clearfix { display: inline-table; }
/* Hides from IE-mac \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* End hide from IE-mac */