html {
    scroll-behavior:smooth;
    background-color:#000;
    font-family:'Domine',serif;
}

body,html {
    margin:0;
    padding:0;
    color:#fff;
}

footer {
    display:table;
    text-align:center;
    margin-left:auto;
    margin-right:auto;
    padding:20px 10px 20px 10px;
    color:#fff;
    font-family:'Domine',serif;
}

abbr {
    border-bottom: none !important;
    cursor: inherit !important;
    text-decoration: none !important;
    color: cyan;
}



a:link {
    text-decoration:none;
    color:#fdcdaf;
}